[2019-01-22 21:33] simongottschlag opened #10 "Use Azure Storage Account keys instead as well as service principal"
Hi!

Would it be possible to add the functionality to use storage account keys as well as service principal (but just one at a time)? I’m specifically interested to use this together with backup/restore of k8s.

It would make deploying much easier since these values can be extracted during deployment with ARM Templates (and service principals can make this a little more complicated).

[2019-03-15 11:58] philwinder opened #11 "Azure Service Principal authentication using certificates"
The Velero documentation authenticates against azure using Service Principal and a client secret.

However, you can also authenticate using a certificate. We're in quite a strict environment and have no secrets.

This is a feature request to add the ability to authenticate using a certificate also.

Relevent code: https://github.com/heptio/velero/blob/0fd7872ef48ce617e561e6e45f8ccb0f11637f58/pkg/c

[2019-04-16 13:43] philwinder opened #12 "Azure: support getting credentials using aad-pod-identity"
Using aad-pod-identity, in combination with azure identities, it is possible for the cloud provider to get credentials without having to pass them in as environmental variables. Instead, the azure api uses the metadata service to query its current identity (provided by aad-pod-identity) and returns the required client for access.

This is very much like how kiam works.

Can we update the Azure clo

[2019-11-07 16:10] skriss opened #8 "Makefile is missing logic to push `latest` image tag"
The Makefile is missing the logic to see when `TAG_LATEST` is set to true, and to push a `latest` container image tag. We need to add something like the following:

https://github.com/vmware-tanzu/velero/blob/master/Makefile#L173-L176

Note that `TAG_LATEST` *is* getting set correctly within `hack/docker-push.sh`, so it's just a matter of consuming that variable and pushing the additional tag.

[2019-11-08 17:46] andyzhangx opened #13 "support azure file snapshot"
Currently azure cloud provide only supports azure disk snapshot, and [azure file plugin](https://kubernetes.io/docs/concepts/storage/volumes/#azurefile) is also a common storage layer which could provide multiple read/write.
Azure file snapshot doc:
https://docs.microsoft.com/en-us/azure/storage/files/storage-snapshots-files

@rosskukulinski

I could also do the code review work of all azure part

[2019-11-08 17:47] sseago opened #14 "When using azure volume_snapshotter, env update from /credentials/cloud doesn't handle removed params"
**What steps did you take and what happened:**
I was testing Azure snapshot support, and making sure that things worked fine with AZURE_RESOURCE_GROUP omitted when backing up without snapshots, and that with snapshots, things worked properly with it set, and we were seeing appropriate error messages with it either unset or set to a bad value (wrong group or invalid group).

What I think I'm seeing

[2019-11-08 18:27] #8 closed

[2019-11-13 15:24] archmangler opened #16 "Restore of AzureFiles-backed PV not working (PV data missing) if Reclaim policy "DELETE""
Summary
======

- I'm using velero 0.1.1 to backup PVs based on azure fileshare storage on AKS cluster (k8s 1.14.6).
- The azure files storage class is configured to use reclaim policy DELETE by default
- I'm testing the restore as follows:

Scenario A: Storage Class reclaim policy set to "DELETE":

1.  Create a pod with azure-files backed PV, write some data to it
2. Delete pod,pvc, pv
3. restore

[2019-11-13 15:29] archmangler commented on #16
Test #2: Using SC with Reclaim policy of RETAIN, restored PV  has the expected data
======================================================

With SC  reclaim policy set to "RETAIN"
=======================================

- check SC configuration:

[code]

- check current setup:

[code]

- delete pod, pvc, pv.

[code]

- Restore:

[code]

- Check restored items:

[code]

- check the restored data o

[2019-11-13 15:50] skriss commented on #16
@archmangler are you trying to use restic to back up the data?

[2019-11-13 15:55] archmangler commented on #16
@skriss - restic is enabled and deployed in this velero installation. I'm not sure if this means it's automatically in use or if I have to do something specific to "use restic" for a given schedule?

[2019-11-13 15:59] skriss commented on #16
you need to annotate the pod(s) that have volumes that you want to back up using restic -- see https://velero.io/docs/v1.2.0/restic/ for more details. Also see the "Microsoft Azure" section in that doc, as there is some additional configuration you need to do on your storage class when using Azure FIles.

[2019-11-13 16:16] skriss commented on #13
@andyzhangx any update on the restore SDK? There have been several folks inquiring about Azure File support lately, and they're having to default to using restic since we don't have a snapshotter plugin.

[2019-11-13 17:24] archmangler commented on #16
Thansk @skriss  - this fixes afs backups.

[2019-11-13 17:24] #16 closed

[2019-11-15 13:28] katomel4 opened #17 "error accessing azure blob at installation"
error accessing azure blob at installation
velero 1.2.0 plugin 1.0.0
spn as contributor

velero install \
    --provider azure \
    --plugins velero/velero-plugin-for-microsoft-azure:v1.0.0 \
    --bucket $BLOB_CONTAINER \
    --secret-file ./credentials-velero \
    --backup-location-config resourceGroup=$AZURE_BACKUP_RESOURCE_GROUP,storageAccount=$AZURE_STORAGE_ACCOUNT_ID

An error occurred: so

[2019-11-30 07:16] andyzhangx commented on #13
No update from azure file team now, I will let you know when that feature is released. @skriss

[2019-12-02 17:36] skriss commented on #17
@katomel4 usually this indicates something in the credentials file is invalid - could you double-check all the values there?

[2019-12-03 08:32] jaygridley opened #18 "Support for zone redundant snapshot of Azure Disk"
There is a option to create zone redundant snapshots of Azure Disks in regions with availabiltiy zones see https://azure.microsoft.com/en-us/updates/azure-managed-snapshots-images-ga.

[2019-12-03 08:41] jaygridley opened #19 "Least privileges of Service Principal"
The documentation states that the Service Principal used with Velero should have a role Contributor. This role is quite open and some company policies do not allow this. The documentation should be updated to state the least privileges for the Service Principal.

[2019-12-07 21:19] katomel4 commented on #17
double checked
i will try again with a new cluster

[2019-12-09 15:51] skriss commented on #19
agreed, it would be great to refine the privileges here. Would love some help on this issue!

[2019-12-12 15:25] skriss commented on #17
@katomel4 were you able to resolve this? Anything else we can help with?

[2019-12-16 17:06] skriss commented on #17
Closing as inactive -- feel free to reach out again as needed.

[2019-12-16 17:06] #17 closed

[2020-01-16 17:36] skriss opened #22 "change Dockerfile group to nogroup"
xref https://github.com/vmware-tanzu/velero/pull/2189

[2020-01-30 20:54] #22 closed

[2020-02-25 14:57] varuzam opened #25 "support incremental snapshots of Azure disks"
https://azure.microsoft.com/ru-ru/blog/introducing-cost-effective-increment-snapshots-of-azure-managed-disks-in-preview/

[2020-02-25 15:40] skriss commented on #25
It does not, no. Reading that article, it doesn't sound like the option is available yet via the Go SDK, so we may need to wait a little while before supporting it.

Do you want to leave this issue open as a feature request? If so, do you have any interest in working on it when it's ready?

[2020-02-25 19:34] varuzam commented on #25
I would like to leave the issue as a feature request. Unfortunately, I am not a Go developer.

[2020-02-25 22:33] dharmab opened #26 "Azure blob storage backups larger than 256MiB fail due to RequestBodyTooLarge Error"
**What steps did you take and what happened:**

When running backups to Azure blob storage from a large cluster, the backup fails with the following error:

[code]

**What did you expect to happen:**

Backups should succeed

**The output of the following commands will help us better understand what's going on**:
(Pasting long output into a [GitHub gist](https://gist.github.com) or other pastebin i

[2020-02-26 00:28] dharmab commented on #26
More information: https://docs.microsoft.com/en-us/rest/api/storageservices/put-blob#remarks

[2020-02-26 00:31] dharmab commented on #26
Hmm:

https://github.com/Azure/azure-sdk-for-go/blob/cbb75bf1b53127c8f25a63b1d9e929d0d638246b/storage/blockblob.go#L99-L101

[code]

[2020-02-26 00:35] dharmab commented on #26
So I guess this function:

https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/blob/7a8cc9366f95fdb3aa30add3e60d0c7640edc99a/velero-plugin-for-microsoft-azure/object_store.go#L241-L248

should be changed to use CreateBlockBlob() to create a 0 byte blob, then read 256M chunks from the reader and call PutBlock repeatedly:

https://github.com/Azure/azure-sdk-for-go/blob/cbb75bf1b53127c8

[2020-02-28 20:11] dharmab commented on #26
Here's a possible patch, however I feel like I'm in over my head and a project maintainer should consider taking over to do this correctly:

[code]

This is probably the inefficient way to do it- There's a PutBlockList function in the Azure SDK that is probably better: https://github.com/Azure/azure-sdk-for-go/blob/cbb75bf1b53127c8f25a63b1d9e929d0d638246b/storage/blockblob.go#L252-L275

However my

[2020-03-02 17:44] stromvirvel commented on #18
Is there an update on this?

[2020-03-03 18:15] dharmab commented on #26
@skriss, I think the cause of the bug is well-understood. What else is needed for a bugfix?

[2020-03-04 15:39] skriss commented on #26
@dharmab I'll see if I can spend some time on this today.

[2020-03-04 18:09] skriss commented on #26
I made the code change (thanks @dharmab for the suggested patch, I used it as a ref but made a few modifications), now need to get an environment set up that I can test it in.

[2020-03-17 17:06] #26 closed

[2020-03-27 13:02] rocketraman commented on #25
FYI, this feature is now GA in Azure. I created this issue for the Go SDK: https://github.com/Azure/azure-sdk-for-go/issues/8086.

[2020-03-30 19:22] #10 closed

[2020-03-31 12:43] rocketraman commented on #25
Apparently version v41.0.0 of the Go SDK now has this feature. See https://github.com/Azure/azure-sdk-for-go/issues/8086#issuecomment-606545533.

[2020-04-03 13:11] lvadim01 opened #33 "Azure plugin misleading documentation or not working"
**Error during deployment:**
`An error occurred: some backup storage locations are invalid: error getting backup store for location "default": rpc error: code = Unknown desc = config has invalid keys [storageAccountKeyEnvVar]; valid keys are [resourceGroup storageAccount subscriptionId bucket prefix]`

I am integrating Velero with Azure cluster following the documentation:
[https://github.com/vmwa

[2020-04-03 14:37] skriss commented on #33
@lvadim01 this is a versioning issue - support for `storageAccountKeyEnvVar` was just recently added and is only available in the `master` image tag for the azure plugin, not the `v1.0.0` version that I see you're using from your `velero install` command. If you're comfortable using a CI build of the plugin, you can try out `master`, otherwise you'll need to wait until we do a new release of the p

[2020-04-03 14:45] lvadim01 commented on #33
@skriss Thank you for the information!

[2020-04-03 14:45] #33 closed

[2020-04-04 08:14] koustubhg opened #34 "[Azure] Error installing helm chart on Azure"
I have the following credentials file `azure-storage-creds`
[code]

`kubectl -n dev create secret generic mysecret --from-file=cloud=azure-storage-creds`

`cat velero/dev-override.yaml`
[code]

I installed velero using this command:
`helm install --name=velero --namespace=dev -f velero/dev-override.yaml vmware-tanzu/velero`

I get the following error in the logs:

[code]

Where do I need to specif

[2020-04-13 17:03] skriss commented on #34
they need to go under `configuration.backupStorageLocation.config` -- see https://github.com/vmware-tanzu/helm-charts/blob/master/charts/velero/values.yaml#L93, and also https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/blob/master/backupstoragelocation.md.

[2020-04-13 17:06] skriss commented on #34
closing this out as those links should get you going, but feel free to reach out again if needed.

[2020-04-13 17:06] #34 closed

[2020-04-17 19:00] fl-max commented on #19
Does it truly need Subscription wide access or can it be scoped to just the Resource Group?

[2020-04-20 14:13] skriss commented on #25
cc @NickSu86

[2020-04-20 16:07] MKruger777 opened #35 "Backup of WordPress on Minikube failing to snapshot persistent volume (mysql)"
Hey Guys,

I am new at Velero and testing it out on minikube as k8s cluster and my blob storage being hosted on Azure.

I attempted my first backup and restore by targetting a deployment of Nginx. This worked like a charm!

I then wanted to explore the backing up and restoring of persistent data. For this, I choose a WordPress deployment that persists it's data in a mysql pod. I created a k8s name

[2020-04-21 03:44] irniaxsep opened #36 "How to backup persistent volumes along with additional cluster resources and configurations"
I accidentally deleted persistence volume claim (PVC) attached in to one of our databases. But still I can see azure disk attached to the PVC exists in one of my resource groups. How can backup the data on the disk and copy to new disk.

[2020-04-21 10:13] MKruger777 commented on #35
Well it seems like a bit more reading wouldn't have hurt - only this list of storage providers is supported: https://velero.io/docs/v1.3.2/supported-providers/
i.e. Not mysql on minikube
I could probably try the restic (https://velero.io/docs/v1.3.2/restic/), but seeing that the end state will be an AKS cluster, I will probably have to move my testing there now.
Pitty, as testing the minikube way,

[2020-04-22 09:24] NickSu86 commented on #25
Thank you, how about AWS, does the aws plugin take snapshot incrementally by default? Thank you

[2020-04-23 14:53] skriss commented on #36
@irniaxsep if the disk is no longer attached/exposed to your Kubernetes cluster through a PV/PVC, then Velero can't back it up.

However, you could probably statically provision a new PV that makes use of your disk, and then use it via a new PVC.

[2020-04-23 14:55] skriss commented on #36
See https://kubernetes.io/docs/concepts/storage/persistent-volumes/#provisioning for some more information. You'd want to manually write the YAML for a new PV that uses your existing Azure disk.

I'm going to close this out as this isn't a Velero issue, but feel free to reach out again as needed. Thanks!

[2020-04-23 14:55] #36 closed

[2020-04-27 09:39] varuzam commented on #25
it does

[2020-05-01 19:15] skriss commented on #35
Yep - if you're running in something like minikube, you'd need to use the restic integration to back up your volume contents. the Azure VolumeSnapshotter plugin can only back up Azure managed disks, which require you to be running in AKS.

I'm going to close this one out, but feel free to reach out again as needed.

[2020-05-01 19:15] #35 closed

[2020-05-05 07:29] prutsert commented on #19
I've been able to narrow it down to _Contributor_ role on the _Resource Groups_ that are involved. Those are the Resource Group of the AKS cluster: `$AZURE_RESOURCE_GROUP`, and the Resource Group of the backup storage: `$AZURE_BACKUP_RESOURCE_GROUP`.
This could probably be even more restrictive on the backup storage Resource Group, but as long as it only contains data created and used by Velero an

[2020-05-06 14:33] skriss opened #40 "Migrate to go modules"

[2020-05-06 14:34] skriss opened #41 "Update repo structure, Dockerfile, and Makefile to match plugin-example repo"

[2020-05-11 08:30] fredgate commented on #19
Yes configuring the service principal with the least privileges is almost essentials. Because having a service principal with full access on a subscription is not acceptable by company policy of some of our customers.
Already being able to limit to the resources group is appreciable. But maybe we can be even more precise.

[2020-05-13 13:58] paulclark222 opened #42 "Node selector for linux"
I have a cluster with windows and linux agent pools. After installing the velero pod is failing to start because it's running on a windows node. It needs a linux node selector.

[2020-05-24 18:20] ezYakaEagle442 opened #45 "Velero HELM Install failed on Azure"
First question,  the doc states there are 2 ways of installation, CLI or HELM Chart but the parameters look different in those 2 install modes, is is possible to use the HELM Chart in AKS ( I run 1.16.7) ?

I have not found the documentation about the apiTimeout, shall I set 300 (in s) or 5 (in minutes) ?

[code]

[code]

Normal   Scheduled  <unknown>              default-scheduler

[2020-05-24 19:37] ezYakaEagle442 opened #46 "Velero install error azure.BearerAuthorizer Failed to refresh the Token for request to https://management.azure.com"
I run AKS 1.16.7 with --enable-managed-identity.
After Velero 1.3.2 Install with CLI I hit this issue :

An error occurred: some backup storage locations are invalid: error getting backup store for location "default": rpc error: code = Unknown desc = azure.BearerAuthorizer#WithAuthorization: **Failed to refresh the Token for request to** https://management.azure.com/subscriptions/XXXXX/resourceGro

[2020-05-24 19:43] ezYakaEagle442 commented on #46
Note: during the SP creation, the --scope was not explicitly set however by default it does apply to subscription root.

az ad sp create-for-rbac --help

    --scopes           : Space-separated list of scopes the service principal's role assignment
                         applies to. Defaults to the root of the current subscription

[2020-05-25 06:52] ezYakaEagle442 commented on #46
I just see today the issue, there is mistmatch in the Client Secret & Password ! :

AZURE_CLIENT_ID=${aks_client_id}
AZURE_CLIENT_SECRET=**${velero_sp_password}**

I can see correctly the secret :
[code]

so finally the question is how to configure Velero when Managed Identies is enables in AKS ?

See :

- [https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/issues/11](https://github

[2020-05-25 10:01] pimjansen commented on #13
Also really need this! There is no way to properly snapshot/backup my azurefile at this point

[2020-05-25 11:36] fredgate commented on #13
Yes, it's a big lack.

[2020-05-25 14:46] ezYakaEagle442 commented on #12
Indeed Managed Indentities in GA in AKS since March, it would be great to have Identity support with Velero

I started a snippet but it will not work if not supported in Velero, see #46 :

[code]

[2020-05-26 10:02] ezYakaEagle442 commented on #12
@skriss hi ! could we have an update on Identity support please ?

[2020-05-26 15:22] skriss commented on #12
[This PR](https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/pull/29) started work on this, but the PR is out-of-date. It'd be great if someone else wanted to pick it up, however it should wait until #43 and #44 get merged to avoid additional conflicts.

[2020-05-27 17:28] #40 closed

[2020-06-02 15:26] ezYakaEagle442 commented on #12
thanks @skriss #43 & #44 are now marked as merged, so I cross fingers now to get [PR#29](https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/pull/29) asap :)

[2020-06-02 23:14] skriss commented on #12
see https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/pull/29#issuecomment-637771389

[2020-06-03 21:05] skriss commented on #42
It'd be great to add this to the documentation in this repo including instructions on how to edit the Velero deployment to add the node selector.

[2020-06-03 21:13] skriss commented on #45
@ezYakaEagle442 are you still having an issue here? If so, can you include the pod log since it's not clear what error you're getting?

[2020-06-08 16:13] stephanwehr commented on #25
It would be great to have the option to use incremental snapshots.

[2020-06-08 16:31] skriss commented on #25
:+1: if anyone's interested in working on a contribution here, let us know!

[2020-06-09 16:47] #11 closed

[2020-06-09 16:47] #12 closed

[2020-06-09 18:36] skriss commented on #46
@ezYakaEagle442 I'm not entirely clear on if this issue should be resolved now that #51 is merged - if it is, feel free to close this out, and if not, let us know :)

[2020-06-14 14:18] stephanwehr commented on #25
added pr #52

[2020-06-16 07:07] Juhibhadviya19 commented on #25
@stephanwehr Works for me. Thanks a lot, it was much needed.
@skriss When can we expect its docker image to be published in velero repo?

[2020-06-17 15:32] seboss666 commented on #19
I just found myself getting involved with deploying velero on a client-deployed cluster with no direct access to their azuread, I'm pretty sure that if I ask them to deploy a service account with contributor role just to perform aks related backups, they will just laugh at me.

Strangely, the gcp documentation is far more precise on IAM policies : https://github.com/vmware-tanzu/velero-plugin-for-

[2020-06-22 10:59] Berndinox opened #53 "Typos within the main page"
there are alot of typos when following the guide, eg:

[code]
should be
[code]

[2020-06-23 14:03] JClevengerGeico opened #54 "HELM Install Failing on Credential File"
Hello,

We are currently testing this plugin of Velero using HELM, and are running into an issue after installing:

Velero Version - 1.4.0
Chart Version - 2.12.0
Plugin Version - 1.2.0
Kubernetes - 1.15.7

[code]

Here is what our Credential-Velero file looks like:

[code]

Here is the command we are running (Being ran in PowerShell):

[code]

The Credential-Velero file is located in the same fold

[2020-06-28 09:06] stephanwehr commented on #25
@Juhibhadviya19 Have you seen my last comment in the pr?

[2020-06-29 11:11] Juhibhadviya19 commented on #25
@stephanwehr  All the 3 test cases behaved as mentioned by you in https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/pull/52#issuecomment-648704782

[2020-06-29 16:25] gdubya opened #55 "config has invalid keys [storageAccount]; valid keys are [resourceGroup apiTimeout subscriptionId]"
Hi, i've installed velero using the Helm chart and it seems to be _nearly_ working. There is an error message in the logs related to backing up PVCs that I don't understand:

Why does this occur just for PVCs?

Velero: 1.4.0
velero-plugin-for-microsoft-azure:v1.1.0

[2020-06-30 11:09] gdubya commented on #55
Oh, I believe the error was because i had "storageAccount" under the config for _both_ my backupStorageLocation and my volumeSnapshotLocation in the values.yaml that I am using with the Helm chart. If i remove it so that it's only under backupStorageLocation then the error is gone.

[2020-06-30 11:09] #55 closed

[2020-07-07 13:53] hoelsch opened #56 "Backup partially fails with "operation is not permitted on an archived blob""
We sporadically experience backups that partially fail with the error:
[code]
However, when the next backup is running 15 min later, the error is not occurring and the backup is successful.

Does somebody know what the root cause of this issue could be?

[2020-07-08 08:27] sami-alajrami opened #57 "PV backup fails because it magically uses a random AZURE_CLIENT_ID"
I am trying to make Persistent Volumes backups from AKS work (cluster state backup works fine).
My volumeSnapshotLocation looks like:

[code]
My backup object looks like:

[code]

 but it fails with the following error:
[code]
The error message is self explanatory. **But the weird thing is that the client ID `5f96af7c-feb0-4f4b-a122-1b674d627839` is not what I provide in /credentials/cloud.** I ha

[2020-07-09 19:47] krishnadce commented on #12
When is the AAD Podidentity support set to release. I got the following errors when I followed the AAD Podidentity setup and install using helm3.
`An error occurred: some backup storage locations are invalid: error getting backup store for location "azure": rpc error: code = Unknown desc = unable to get all required environment variables: the following keys do not have values: AZURE_TENANT_ID, AZU

[2020-07-10 15:23] sami-alajrami commented on #57
with velero-plugin-for-microsoft-azure version: v1.1.0, still get errors on the PVs backup but now without any useful details.

[code]

[2020-07-10 15:27] sami-alajrami commented on #57
Same problem with version: v1.1.0

[2020-07-15 22:43] #25 closed

[2020-07-17 13:17] flomsk commented on #12
Facing the same like @krishnadce
Do we have to build own docker images while new release will not be deployed ? @skriss

[2020-07-17 14:33] skriss commented on #12
You can try it with `velero/velero-plugin-for-microsoft-azure:master` if you're comfortable using a development build of the Azure plugin.

[2020-08-08 02:14] ryanmcafee commented on #12
Any idea of when to expect a new docker image to be published that is not master?

[2020-08-09 10:59] adamrushuk commented on #12
We're also very keen to get aad-pod-identity working from the next release.

[2020-08-10 07:33] cfreemoser opened #61 "Unable to use AAD Pod Identity"
Hey, I tried to get velero running with AAD Pod Identity. Sadly, the pod is always crashing. From the logs I would guess that velero has problems to authenticate

[code]

I followed the introduction in the README and assigned all needed permissions (Contributor on related ResourceGroups). Following AzureIdentity and AzureIdentityBinding are deployed to the cluster:

[code]

[code]

The secret also

[2020-08-10 15:11] skriss commented on #12
cc @vmware-tanzu/velero-maintainers for folks asking about next release date.

[2020-08-10 16:12] ashish-amarnath commented on #12
@adamrushuk @ryanmcafee @flomsk @krishnadce
This change will be in the upcoming release of the plugin, eta end of Aug 2020.
If you would like to use this feature now and you are comfortable you can use `velero/velero-plugin-for-microsoft-azure:main`  which is a development build of the plugin with this feature.

[2020-08-11 17:32] ashish-amarnath commented on #61
@cfreemoser Can you please tell us what is the version of the plugin that you are seeing this in?

[2020-08-11 17:46] nrb commented on #54
Apologies for the long delay in answering.

We've had some fixes go in for the Helm chart related to the Azure credentials.

Can you try upgrading to 2.12.13 and see if that takes care of it?

[2020-08-11 18:10] nrb commented on #56
@hoelsch That does seem strange - is the storage account using the [archive storage tier](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-storage-tiers?tabs=azure-portal#archive-access-tier)?

I would expect the errors to be more consistent, but could you provide a full log on gist.github.com so we can see the error in context to track it down and see what calls are generating it

[2020-08-11 18:23] ashish-amarnath commented on #57
@sami-alajrami Can you please tell us how you are setting permissions for velero? https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#set-permissions-for-velero Are you using a service principal or are you using pod identity?

[2020-08-11 21:48] AkhilaDamera opened #62 "Velero MSI install error using aad-pod-identity"
Error:
`
An error occurred: some backup storage locations are invalid: error getting backup store for location "default": rpc error: code = Unknown desc =  azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azure.com/subscriptions/id/resourceGroups/rg/providers/Microsoft.Storage/storageAccounts/st/listKeys?%24expand=kerb&api-version=2019-06-01:

[2020-08-12 11:16] cfreemoser commented on #61
@ashish-amarnath thanks for the replay :)

I used velero-plugin-for-microsoft-azure:v1.1.0 together with velero:v1.4.2

[2020-08-14 05:12] wjun commented on #53
Another one is :
--backup-location-config resourceGroup=$AZURE_BACKUP_RESOURCE_GROUP,storageAccount=$AZURE_STORAGE_ACCOUNT_ID,storageAccountKeyEnvVar=AZURE_STORAGE_ACCOUNT_ACCESS_KEY[,subscriptionId=$AZURE_BACKUP_SUBSCRIPTION_ID] \

should be:
--backup-location-config resourceGroup=$AZURE_BACKUP_RESOURCE_GROUP,storageAccount=$AZURE_STORAGE_ACCOUNT_ID,storageAccountKeyEnvVar=AZURE_STORAGE_ACCOUNT_A

[2020-08-18 11:32] hammady opened #63 "Backup failed: plugin process exited, error="signal: killed""
I installed velero 1.4.2 and the azure plugin 1.1.0 using the following:
[code]
All variables above have valid values, and the credentials file exists. Creating any backup fails with the following in the velero logs:
[code]
When I check on the Azure portal, I can see the snapshot taken but only the `logs.gz` object stored on the blob. Sometimes I see other objects (but others are missing):
[code]

[2020-08-18 12:02] hammady commented on #63
Tried the same setup with velero 1.3.2 and azure plugin 1.0.1 and it worked perfectly! Seems like a bug in the plugin version 1.1.

[2020-08-18 21:59] AkhilaDamera commented on #33
I am having similar issue with the `storageAccountKeyEnvVar:`

credentials-velero file:
AZURE_STORAGE_ACCOUNT_ACCESS_KEY=${AZURE_STORAGE_ACCOUNT_ACCESS_KEY}
AZURE_CLOUD_NAME=AzurePublicCloud

Command to install velero:
[code]
Error:
An error occurred: some backup storage locations are invalid: error getting backup store for location "default": rpc error: code = Unknown desc = no storage account ke

[2020-08-18 22:14] akhila260 opened #64 "velero install fail using storageAccountKeyEnvVar"
I am having an issue with the storageAccountKeyEnvVar:

credentials-velero file:

AZURE_STORAGE_ACCOUNT_ACCESS_KEY=${AZURE_STORAGE_ACCOUNT_ACCESS_KEY}

AZURE_CLOUD_NAME=AzurePublicCloud

Command to install velero:

velero install \

--provider azure \

--plugins velero/velero-plugin-for-microsoft-azure:master \

--bucket $BLOB_CONTAINER \

--secret-file ./credentials-velero.yaml \

--backup-locati

[2020-08-24 07:35] sami-alajrami commented on #57
Hi @ashish-amarnath I am using a Service Principal. I deploy Velero with hem and set `credentials.existingSecret: "cloud-credentials"` in the values file. The secret already exists and contains the following (which I could verify in the original post above from within the velero pod):
[code]

[2020-08-24 07:44] sami-alajrami commented on #57
It occurred to me now that the service principal I use does not have **subscription-wide** access (it appears to have only storage account contributor access).
That might be the issue here, and if so, the reported error message with the random client-ID would be very misleading. I will try to test with a subscription-wide SP and see if it is resolved.

[2020-08-24 23:33] ashish-amarnath commented on #63
@hammady Can you please try to increase memory limits for Velero and try again?

[2020-08-24 23:34] ashish-amarnath commented on #63
This is most likely related to https://github.com/vmware-tanzu/velero/issues/1856

[2020-08-25 07:05] wjun commented on #53
@ashish-amarnath I tried and it looks I am not in the vmware-tanzu organization so I cannot generate PRs?

[2020-08-25 09:19] steviestainz commented on #61
I have been able to move past this issue (when using AADPodIdentity) by modifying the image tag from `velero-plugin-for-microsoft-azure:v1.1.0` to `velero-plugin-for-microsoft-azure:main` per the recent comments here: https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/issues/12#issuecomment-671448310

[2020-08-26 13:52] Aboisier commented on #42
Here's a workaround: after installing velero, you can patch the deployment by using the following command:

[code]

[2020-08-26 18:08] stephanwehr commented on #53
If I am not mistaken, the square bracket notation indicates, that everything in between is optional.

Are you sure those are typos?

[2020-08-26 23:36] ashish-amarnath commented on #53
I thought that there were typos in how the document refers to these variables.

I am closing this issue and #65
Please reach out if you need further assistance.

[2020-08-26 23:36] #53 closed

[2020-08-27 18:53] ashish-amarnath commented on #19
@seboss666 We would love some help on this.
@prutsert Do you mind putting your comment into our docs?

[2020-08-27 18:55] ashish-amarnath commented on #56
@hoelsch I am closing this issue for inactivity.
Please re-open once you are able to provide the info asked above.

[2020-08-27 18:55] #56 closed

[2020-09-03 19:21] HizzyCO opened #67 "Azure - Volumn Affinity Issues When Restoring A Backup From One Region To Another"
I am following the documentation on restoring a back up to a new cluster but when trying to restore the volums there is an affinity issue. The secondary cluster is located in a different region than the original cluster and its snapshots. This is the node affinity for the volumn and the issue is the the match expression is the old region, the new one is southcentralus. For DR the new cluster will

[2020-09-09 13:20] jenting commented on #54
@JClevengerGeico iirc, the recently helm chart fixed this issue, could you please update the helm chart and make a try again? Thanks.

[2020-09-10 09:37] 5obol opened #68 "Azure volumes snapshot issue"
Hi guys,
I am struggling with PVs backup on Azure with the usage of `velero-plugin-for-microsoft-azure`.
It backs up and sends into Azure Storage account everything except Volumes.
Softwares versions:
AKS:
[code]
Velero:
[code]
We do use `Managed Disks` on Azure (which is supposed to be suported disk type by Velero):
[code]
Here is Veleros detailed describtion of backup created:
[code]
I have crea

[2020-09-13 10:36] flo-02-mu commented on #61
The aad-podidentity feature was merged on 13th June: https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/commit/c22efafb8e7b49885bfb83da10005dfe23cb101d
The velero-plugin-for-microsoft-azure plugin versino 1.1.0 was released before, on 27th May.

Are there any plans to release a new version of the plugin? We are waiting for that feature as well and since the documentation is already

[2020-09-14 18:24] #42 closed

[2020-09-21 09:42] adamrushuk commented on #61
Will there be a new release for velero-plugin-for-microsoft-azure soon?

[2020-09-23 17:19] #64 closed

[2020-09-23 17:20] akhila260 commented on #64
Working as expecting with right storage account key in the credentials file.

[2020-09-25 02:56] AkhilaDamera opened #70 "velero restore failed with token not found error"
**What steps did you take and what happened:**

I have backed up a vault cluster namespace which has AzureFileshare pvc's with one of the pod volumes as below:

[code]
I have used velero with restic and have annotated the pods before creating the backup:
[code]
After creating the backup, deleting the namespace and while restoring the error stated as below:

[code]

When i looked into the pod infor

[2020-09-25 02:57] #62 closed

[2020-09-25 08:17] RuBiCK commented on #13
Any update on this?  I really need this feature and I would like to know if it's on the roadmap

[2020-09-25 14:13] cholm321 opened #71 "Backup Azure Managed Disks from multiple Resource Groups"
We have an AKS cluster with velero installed in an enterprise setup.

On the cluster we have
app1     with managed disk in ResourceGroup 1
app2     with managed disk in ResourceGroup 2
app3     with managed disk in ResourceGroup 3

All Resource Groups has the AKS spn as contributor.

We have been poking a little around, but it seem that the ResourceGroup must be specified on velero install.

Have

[2020-09-29 19:08] #70 closed

[2020-09-30 14:07] RuBiCK commented on #13
For those who are looking at velero for solve this issue, there is a workaround: [Velero Restic plugin](https://velero.io/docs/v1.5/restic/#docs) so restic will be in charge to backup file shares just with a POD annotation.
I haven't tested yet. I'll let you know in the few weeks when I test it

[2020-10-02 12:08] lpghartz commented on #12
So... its now October.

Any ETA on a real release?

[2020-10-08 07:19] Annegies commented on #61
Any update on the release?

[2020-10-08 11:58] fgauna12 commented on #61
Ooof. I spent quite a bit of time trying to see what I missed.

I was using `velero-plugin-for-microsoft-azure:v1.1.0` as the docs state. Switching to `velero-plugin-for-microsoft-azure:main` fixed the problem. Not a reliable workaround of course.

Any updates on when the new release is?

[2020-10-09 05:22] SatyKrish opened #73 "Support for Velero version 1.5.x"
Compatibility matrix show `plugin version 1.1.x` supports `velero version 1.4.x`.

Are there plans to add support for `velero 1.5.x `version?

[2020-10-09 11:23] Abhiger commented on #61
switching to velero-plugin-for-microsoft-azure:main didn't solve the issue for me . Backup fails if PV is involved .
non -pv backups work seamlessly

[2020-10-09 11:29] Abhiger opened #74 "Azure plugin PV backup issue with AAD identity"
Hi guys,
I am struggling with PVs backup on Azure with the usage of velero-plugin-for-microsoft-azure.

Get the below error .Although i've specified the values correctly for Subscription and resourcegroup
 msg="Error getting volume snapshotter for volume snapshot location" backup=velero/test-backup2 error="rpc error: code = Unknown desc = unable to get all required environment variables: the follo

[2020-10-09 23:45] ryanmcafee commented on #18
Any update on this?

[2020-10-13 15:37] aristosvo opened #75 "Network restrictions on Azure Storage Account not working"
When we installed Velero with the Velero plugin for Azure on our AKS cluster in the first place, we didn't restrict our storage on AKS outbound IP, as it was just an experiment.

After this experiment we tried to improve security by restricting to only the outbound IP of our AKS cluster. This doesn't seem to work. AKS documentation refers to account access [here](https://docs.microsoft.com/en-us/a

[2020-10-15 12:45] michaelshire commented on #19
I am currently using Velero in Azure (ARO) with the SP running with role "[Storage Account Contributor](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage-account-contributor)".
This is a significant step down from the Contributor role.  I have performed backups and restores at this role, no issues so far.

[2020-10-15 13:14] seboss666 commented on #19
Hello michael,
are you able to generate dynamic volume snapshot with that coverage ? I can see why it's sufficient for object/manifests backup, and it's great to know that, but I'm afraid it may be too narrow for the snapshot feature :/

[2020-10-15 13:24] michaelshire commented on #19
Agreed.  Main issue there is Deny Assignments applied to Azure Red Hat OpenShift (ARO) clusters are preventing volume snapshots, and the error in my logs are resulting from that (even with Contributor at the Subscription level, same failure).  Raised issue with the product team.

[2020-10-16 22:20] ashish-amarnath commented on #61
@adamrushuk @Annegies @fgauna12
Hey folks, we now have a new release with this feature. https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/releases/tag/v1.1.1
Apologies for the delay with this release.

[2020-10-16 22:21] ashish-amarnath commented on #61
@Abhiger Can you please provide more information about the failure that you are seeing?

[2020-10-16 22:22] ashish-amarnath commented on #63
I am going to close this issue. Please re-open or reach out if you have more questions.

[2020-10-16 22:22] #63 closed

[2020-10-16 22:32] ashish-amarnath commented on #12
@lpghartz @adamrushuk @Annegies @fgauna12
Hey folks, we now have a new release with this feature. https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/releases/tag/v1.1.1
Apologies for the delay with this release.

[2020-10-19 10:56] aristosvo commented on #74
Looks like your setup is not complete, as it needs a cloud-credentials secret which contains AZURE_SUBSCRIPTION_ID and AZURE_RESOURCE_GROUP. How did you configure your setup?

[2020-10-20 12:12] Abhiger commented on #74
I'm installing using Helm for AAD Pod identity . I'm creating the  file with relevant environment variables  as per the [documentation](https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure)

CAT << EOF  > ./credentials-velero
AZURE_SUBSCRIPTION_ID=${AZURE_SUBSCRIPTION_ID}
AZURE_RESOURCE_GROUP=${AZURE_RESOURCE_GROUP}
AZURE_CLOUD_NAME=AzurePublicCloud
EOF

I'm passing the above file whi

[2020-10-20 12:20] Abhiger commented on #61
I've covered the details for the issue over [here](https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/issues/74#issuecomment-712805564)

[2020-10-20 12:26] Abhiger commented on #74
Another thing i observed is Immediately after the error i get the following in the logs
level=info msg="Persistent volume is not a supported volume type for snapshots, skipping." backup=velero/velero-dailybackup-20201020110744 logSource="pkg/backup/item_backupper.go:469" name=pvc-503332e9-7ded-4147-9238-4b8c550f46f4 namespace= persistentVolume=pvc-503332e9-7ded-4147-9238-4b8c550f46f4 resource=pers

[2020-10-20 13:13] Abhiger commented on #74
I'm including the values file that i'm passing to helm charts

#

[2020-10-20 14:08] Abhiger commented on #68
I encounter the same issue Persistent volume is not a supported volume type for snapshots.
i've comprehensively described the issue [here](https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/issues/74)

[2020-10-21 03:06] jenting commented on #54
@JClevengerGeico ping

[2020-10-21 03:07] jenting commented on #73
#76 merged, this issue could be closed.

[2020-10-21 15:15] ashish-amarnath commented on #46
@ezYakaEagle442 I am going to close this issue for inactivity. But, please reopen or reach out if you have more questions.

[2020-10-21 15:15] #46 closed

[2020-10-21 15:20] ashish-amarnath commented on #54
@JClevengerGeico Based on @jenting's comment this should be fixed. I am closing this issue, but please try this out with the latest version of the helm chart and reach out if you are still having issues.

[2020-10-21 15:20] #54 closed

[2020-10-21 15:43] ashish-amarnath commented on #68
@5obol Can you please tell us how you are installing velero? Are you creating any `volumesnapshotlocations`?
Please also share the output for `kubectl -n velero get volumesnapshotlocations` to confirm you have a volumesnapshotlocation in the region where this volume is provisioned?

[2020-10-21 16:46] ashish-amarnath commented on #57
@sami-alajrami I am going to assume that you were able to resolve this issue. That error is most likely coming from the azure sdk and unfortunately not much the plugin can do about it.
I am going to close this issue. Please re-open or reach out if you have more questions.

[2020-10-21 16:46] #57 closed

[2020-10-21 16:48] ashish-amarnath commented on #61
Closing this issue as we now have a release with this capability.
@Abhiger I am going to take a look at #74 for your details and work on it there.

[2020-10-21 16:48] #61 closed

[2020-10-21 16:53] ashish-amarnath commented on #68
@5obol Looking over at the helm configuration that you pasted in your issue report, volumesnapshotting is disabled
[code]
This will prevent the creation of default volumesnapshotlocations. https://github.com/vmware-tanzu/helm-charts/blob/84435f0f8fd73bdb6655094fb472e78cb5d91ef9/charts/velero/templates/volumesnapshotlocation.yaml#L1

Can you please update your helm configuration and try this again?

[2020-10-21 16:57] ashish-amarnath commented on #68
@Abhiger This doesn't look like the same issue that you are seeing.

[2020-10-21 17:04] ashish-amarnath commented on #74
@Abhiger To troubleshoot the below error:

Can you please do the following?
1. Confirm that the credentials file `credentials-velero` that you are using in the helm configuration has all the necessary config fields per the documentation at https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure#option-2-use-aad-pod-identity
2. Inspect the `cloud-credentials` secret exists in the velero n

[2020-10-21 17:06] ashish-amarnath commented on #73
As @jenting points out, the compatibility matrix of the plugin is now updated.
Closing this issue.

[2020-10-21 17:06] #73 closed

[2020-10-21 17:08] Abhiger commented on #68
@ashish-amarnath  I get the following message immediately after the main error message
level=info msg=“Persistent volume is not a supported volume type for snapshots, skipping

The main error message is described in #74

[2020-10-21 17:20] ashish-amarnath commented on #75
@aristosvo I am not super familiar with the network restrictions here. But to troubleshoot this, can you please share more details on the error that you saw? Also, any documentation that you can point us to try this ourselves will be useful to make suggestions.

[2020-10-21 17:23] ashish-amarnath commented on #68
@Abhiger Going stepwise to troubleshoot your issue in #74.
Your first issue is this error:

Suggest troubleshooting that first and also preserving all conversations related to #74 in the same issue to keep us focused.

[2020-10-21 18:08] ashwin-venkatesh opened #77 "Backups fail with RPC error: transport is closing"
Hey y'all,

Been trying to setup Velero with the 1.1.1 azure plugin to backup resources from my cluster. They backup appears to run successfully and there are no issues in the logs describing the backup job.
In the controller logs I see the following error:
`level=error msg="backup failed" controller=backup error="rpc error: code = Unavailable desc = transport is closing" key=velero/complete logSo

[2020-10-21 18:22] ashish-amarnath commented on #71
@cholm321 If I am following this correctly, the issue you are facing is an error during disk information lookup which uses the resource group from the envvars, derived from the `cloud-credentials` secret, as the resource group for all disks.
https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/blob/main/velero-plugin-for-microsoft-azure/volume_snapshotter.go#L163

This is, currently,

[2020-10-21 18:24] ashish-amarnath commented on #71
This is the design got supporting multiple credentials.
https://github.com/vmware-tanzu/velero/pull/2403

[2020-10-21 18:25] ashish-amarnath commented on #77
@ashwin-venkatesh can you please try this again with increased resource limits on the `velero` deployment?
Instructions on how to do that is available on our docs website at https://velero.io/docs/v1.5/customize-installation/#customize-resource-requests-and-limits

[2020-10-21 18:35] ashwin-venkatesh commented on #77
Oh sweet!! That worked. Thanks @ashish-amarnath

Would you happen to have a rubric or guideline regarding what reasonable requests and limits for the deployment should be? Is it just azure that needs its values bumped? I only ask because I might have to make a `velero` recommendation and it would help to know what would be the ideal config in different use-cases.

Does it depend on the "volume" of

[2020-10-21 18:43] Abhiger commented on #74
Hi @ashish-amarnath  the credential **exactly match the contents of credentials-velero file**

AZURE_SUBSCRIPTION_ID=<subscriptionID >
AZURE_RESOURCE_GROUP=<aks auto generated RG>
AZURE_CLOUD_NAME=AzurePublicCloud

I remember reading on some posts that credentials file before passing it to the helm chart all occurrences of  "\r\n" should be replaced with "\n" .. do we need to take care of that ste

[2020-10-21 18:57] ashish-amarnath commented on #77
@ashwin-venkatesh Yes, it is just the azure plugin that requires this customization. Everything else should be able to run with defaults.
The resource limits don't depend on the volume of workloads,
I agree that the error could be better. But when this happens the velero pod is OOM killed so we'll not be able to log messages to that effect.

No problem. I am going to close this issue as resolved.

[2020-10-21 18:57] #77 closed

[2020-10-21 19:23] ashish-amarnath commented on #74
@Abhiger Can you try that suggestion of replacing the control characters?
If that doesn't work, then we can take helm out of the picture for now and try installing using `velero install`

[code]

If that works then we can troubleshoot helm.

[2020-10-22 05:51] aristosvo commented on #75
Hi @ashish-amarnath ! I have found the problem and will try to find the time to write down the possible solutions for users of Velero with AKS to secure the storage account in the best possible ways after I've implemented it myself.

If you prefer to investigate it yourself, this is the [issue (with config](https://github.com/Azure/AKS/issues/1899#issue-720462843)) on AKS and the provided [solutio

[2020-10-22 10:36] Abhiger commented on #74
@ashish-amarnath the issue got resolved after replacing the control characters 😊

[2020-10-22 11:36] cholm321 commented on #71
@ashish-amarnath I would think that when Azure Managed Disks are placed across several Azure Resource Groups, Velero should just lookup the `DiskURI` in the k8s meta data - no need to expose that to the velero cli.

When I do `kubectl get pvc` I can locate associated pv's by `kubectl get pv`.

Assume I have a `pv` named `pv-something`.
Then `kubectl describe pv pv-something` gives me
[code]

Why d

[2020-10-22 15:09] ashish-amarnath commented on #74
Thank you for confirming! Going to close this issue as resolved.

[2020-10-22 15:09] #74 closed

[2020-10-22 15:27] ashish-amarnath commented on #71
That metadata is specific to Azure.
The volumesnapshotter interface is designed to be a generic volume snapshotter and keeping it agnostic of kubernetes volumes.
[code]
So the volumesnapshotter is given the necessary info to locate the volume and call the volume provider's snapshot API.

This, unfortunately, makes changing the interface a breaking change across all providers.

[2020-10-22 20:43] aristosvo commented on #75
@ashish-amarnath Where should I put this kind of information? Is there a `docs` section where I can put this?

[2020-10-22 20:50] dsu-igeek opened #78 "Enable use with Azure Stack"
Azure Stack provides a hybrid Azure platform that does is separate from the Azure Public Cloud.  Currently we use the cloudName to generate the Azure environment (https://github.com/vmware-tanzu/velero-plugin-for-microsoft-azure/blob/22b6776fba44b7f521afce56de6e20f1b7373855/velero-plugin-for-microsoft-azure/common.go#L50).  Azure Stack appears to need a different path to generate the environment (

[2020-10-23 19:19] Abhiger opened #79 "Error with cluster Restore"
Hi All,

Cluster: error restoring mutatingwebhookconfigurations.admissionregistration.k8s.io/aks-webhook-admission-controller: MutatingWebhookConfiguration.admissionregistration.k8s.io "aks-webhook-admission-controller" is invalid: webhooks[0].sideEffects: Unsupported value: "Unknown": supported values: "None", "NoneOnDryRun"
Namespaces: <none>

While restoring an AKS cluster I get the following e

[2020-10-29 15:13] kwaazaar commented on #13
To use restic for a specific pod, add an annotation to specify which volumes to include:
[code]

I prefer this opt-in model. Read more [here](https://velero.io/docs/v1.5/restic/#using-opt-in-pod-volume-backup).

[2020-11-09 17:34] dharmab opened #80 "Azure Storage Resource Provider rate limits may cause backup failures"
This issue is not a bug with Velero or the plugin, IMO. It is a "gotcha" with how Velero uses the Microsoft Azure APIs. I'm opening a git issue to make this problem easy to find in Google search results.

If you use the Service Principal or Managed Identity authentication methods for the Velero plugin, and the Storage Account you use for your backups is shared with multiple instances of Velero, th

[2020-11-16 20:24] nrb commented on #79
@Abhiger Velero doesn't modify the webhook properties that get backed up. This is due to AKS having support only for 2 values on its webhook side effect field, as shown in the error message.

Were you migrating between versions of AKS? That may have introduced this new constraint.

[2020-11-17 11:44] Zeka13 commented on #77
faced the same problem, how about to increase default values? Confused for new users who just installed Velero on Azure

[2020-11-17 12:22] akcrisp opened #83 "Support for Customer Managed Keys (CMK)"
Hi,

Can you confirm if there are any plans to support cmk ?

https://docs.microsoft.com/en-us/azure/aks/azure-disk-customer-managed-keys

Thanks

Andy

[2020-11-18 00:36] ashish-amarnath commented on #80
@dharmab It is possible to reduce the frequency of `BackupStorageLocation`'s availability check using the [`ValidationFrequency `](https://github.com/vmware-tanzu/velero/blob/main/pkg/apis/velero/v1/backupstoragelocation_types.go#L47) field of the `BackupStorageLocationSpec`.
Setting this to 0 will disable repeated validation of the BackupStorageLocation. All BSLs should be validated at least once

[2020-11-20 23:29] HizzyCO commented on #79
I have this same error and haven't migrated version

[2020-11-25 08:51] ashish-amarnath commented on #80
Considering that there is a way to disable the repeated validations, I am going to close this issue. Please reach out if you have more questions.

[2020-11-25 08:51] #80 closed

[2020-11-27 13:56] akcrisp commented on #83
Hi can I ask what the outcome was of the triage ?

[2020-11-30 19:46] carlisia commented on #68
This issue has been inactive for a while so I'm closing it.

[2020-11-30 19:46] #68 closed